PRIVATE_KEY="0xYOUR_PRIVATE_KEY"
SEPOLIA_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/YOUR_API_KEY"

DATABASE_URL="sqlserver://localhost:1433;database=blocktrace_db;integratedSecurity=true;trustServerCertificate=true"

CONTRACT_ADDRESS="0xYOUR_DEPLOYED_COUNTER_ADDRESS"
CHAIN_ID="11155111"
SYNC_OFFCHAIN=false
